In [3]:
import pandas as pd

In [6]:
import statsmodels.api as sm #This library consists of Different Regression Model
train_dataset = pd.read_csv('train.csv')

#data processing and cleaning
train_dataset['Age'].fillna(train_dataset['Age'].median(), inplace=True)
train_dataset["Sex"][train_dataset["Sex"]=="male"] = 0
train_dataset["Sex"][train_dataset["Sex"]=="female"] = 1

X = train_dataset[['Pclass', 'Sex', 'Age','SibSp', 'Parch']]
y = train_dataset['Survived']
train_dataset.head()

<ipython-input-6-afdbed5daf51>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_dataset["Sex"][train_dataset["Sex"]=="male"] = 0
<ipython-input-6-afdbed5daf51>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_dataset["Sex"][train_dataset["Sex"]=="female"] = 1

   Survived  Pclass Sex   Age  SibSp  Parch
0         0       3   0  22.0      1      0
1         1       1   1  38.0      1      0
2         1       3   1  26.0      0      0
3         1       1   1  35.0      1      0
4         0       3   0  35.0      0      0

In [13]:
X = sm.add_constant(X)
X

     const  Pclass Sex   Age  SibSp  Parch
0      1.0       3   0  22.0      1      0
1      1.0       1   1  38.0      1      0
2      1.0       3   1  26.0      0      0
3      1.0       1   1  35.0      1      0
4      1.0       3   0  35.0      0      0
..     ...     ...  ..   ...    ...    ...
886    1.0       2   0  27.0      0      0
887    1.0       1   1  19.0      0      0
888    1.0       3   1  28.0      1      2
889    1.0       1   0  26.0      0      0
890    1.0       3   0  32.0      0      0

[891 rows x 6 columns]

In [14]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [15]:
model = sm.OLS(y, X.astype(float)).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.394
Model:                            OLS   Adj. R-squared:                  0.390
Method:                 Least Squares   F-statistic:                     114.9
Date:                Wed, 16 Jun 2021   Prob (F-statistic):           1.33e-93
Time:                        17:09:02   Log-Likelihood:                -399.14
No. Observations:                 891   AIC:                             810.3
Df Residuals:                     885   BIC:                             839.0
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.8292      0.062     13.412      0.000       0.708       0.951
Pclass        -0.1846      0.016    -11.227      0.000      -0.217      -0.152
Sex            0.5147      0.028     18.450      0.000       0.460       0.569
Age           -0.0059      0.001     -5.482      0.000      -0.008      -0.004
SibSp         -0.0412      0.013     -3.189      0.001      -0.067      -0.016
Parch         -0.0152      0.018     -0.850      0.395      -0.050       0.020
==============================================================================
Omnibus:                       37.879   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.759
Skew:                           0.527   Prob(JB):                     8.55e-10
Kurtosis:                       3.117   Cond. No.                         162.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [16]:
#import matplotlib.pyplot as plt
X.iloc[:,1:].corr()

          Pclass       Age     SibSp     Parch
Pclass  1.000000 -0.339898  0.083081  0.018443
Age    -0.339898  1.000000 -0.233296 -0.172482
SibSp   0.083081 -0.233296  1.000000  0.414838
Parch   0.018443 -0.172482  0.414838  1.000000