
<h2> <b> Print statement

<h3>SYNTAX : print(values, sep='', end='\n')

In [41]:
value1 = 3
value2 = 4
value3 = 5

print(value1,value2,value3)
print(value1) #print always results in newline
print(value2)

3 4 5
3
4

In [43]:
#printing without newline
print(value1,end=' ')
print(value2)

3 4

In [45]:
#end parameter
print("Hi", end="!")
print(" asteya")

Hi! asteya

In [47]:
#sep parameter
print(value1,value2,value3,sep=",")

3,4,5

  <h2> INPUT </h2>

In [37]:
#taking input

x = input()  #this output is string
print("hello " + x)

Asteya
hello Asteya

In [38]:
x = int(input("Enter your marks out of 40 - ")) #typecast explicitly to convert into other datatype
print("Percentage = " , (x/40)*100 , "%")

Enter your marks out of 40 - 34
Percentage =  85.0 %

In [8]:
#taking TWO inputs
name,marks = input("Enter name and marks = ").strip().split(' ')
print("{} got {} marks out of 85".format(name,marks))     # output formatting example

Enter name and marks = asteya 59
asteya got 59 marks out of 85

<h3><b> Multiple input example </b></h3>

In [6]:
x = list(map(float , input("Enter marks: ").split()))
print(x)
print("Total = ", sum(x))

Enter marks: 22 9.5 16 28.5
[22.0, 9.5, 16.0, 28.5]
Total =  76.0

In [17]:
#using List comprehension
a,b,c = [str(i) for i in input("enter dob: ").split()]
print(a,b,c,sep="-")

x = [float(i) for i in input("Enter marks: ").split()]
print(x)

enter dob: 21 11 2000
21-11-2000
Enter marks: 22 9.5 16 28.5
[22.0, 9.5, 16.0, 28.5]

<p> <b>List Comprehension is an elegant way to Define and Create List </p>

In [35]:
square_sequence = [i**2 for i in range(10)]
print(square_sequence)

#another example 

x = [i**2 for i in map(int , input("Enter numbers: ").split()) if i%2 == 0]  #oh damn idk what i did :P
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Enter numbers: 12 3 5 6 7 2
[144, 36, 4]

<h2><b> OUTPUT Formatting </b> </h2>

<b>1. f-strings

In [39]:
name = 'asteya' 
age = 20
print(f"{name} is {age} years old")

asteya is 20 years old

<h1><b> LISTS

<h1><b> TUPLES

<h1><b> SET